@{
    ViewBag.Title = "About";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Webpage</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale-1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>

    <div class="row" style="background-color: lightblue; border: solid;">
        <div class="col-md-12">
            <h1 style="font-weight: bold;">About Us</h1>

        </div>

        </div>
    <br>
    <div class="row" style="background-color: lightgray; font-weight: bold; border: solid;"> 
        <div class="col-md-8" >
            <h3>Who are we? </h3>
            <ul>
             <li>Missionary Tutor is a program that was set up in Provo Utah in 2013. </li>
             <li>We are returned LDS missionaries, who understand what going on a mission is like, in a foreign country</li>
             <li>Most of Us Now work as students and strive to help future missionaries feel comfortable</li>
            </ul>
            
            <h3>Our Goal </h3>
            <ul>
                
            <li>All of us know that leaving home for two years can feel daunting, so we seek to use our expierence and knowledge to help those who need assurance about their missions</li> 
            <li>Our goal is to help future missionaries feel as comfortable as possible before entering the mission field</li>
            <li>We our open to answer any questions about the region you will be serving in and questions about missionary work itself, or missions in general</li>
            <li>Our staff consists of several returned missionaries who have served all over the world who are prepared to answer any questions future missionaries have</li>
            <li>We are consistenly working to improve our service and to stay updated on current missions, feel free to look at our contact page for more details</li>
            </ul>
        </div>

        <div class="col-md-4">
            <img src="http://www.mormonnewsroom.org/media/960x540/PA_Missionary_MTC_CU050503_bkf08.jpg " style="height: 200px; padding: 10px;">
            <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRllnHF692xBQqWjYC0kqaWd4mrp8Lc94WTSGWHkMtenRcSDLMm " style="height: 200px; padding: 10px; width: 340px;">


        </div>


     </div>
</body>

</html>