@{
    //this is the view for my contact page, overall its pretty simple except for the forms that allow the user to type in
    //whatever they would like overall nothing too special here
    ViewBag.Title = "Contact";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Webpage</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale-1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="~/Content/JavaScript1.js"></script>
</head>

<body>
   
    <div class="row" style="background-color: lightblue; border: solid;">
        <div class="col-md-6">

<h2>Contact Us</h2>
<h3>Address and Phone</h3>

<address style="font-weight: bold;">
    123 Fake Street<br />
    Provo Utah<br />
    <abbr title="Phone">P:</abbr>
    801.555.0100
</address>
            </div>
       <div class="col-md-6" style="font-weight: bold;">
           <h3>Email</h3> 
           <address>
               <strong>Our Main Office:</strong>   <a href="mailto:Support@example.com">MissionaryTutor@gmail.com</a><br />
               <strong>Returned Missionary Email:</strong> <a href="mailto:Marketing@example.com">MissionaryTutor@gmail.com</a>
           </address>
        </div>
     </div>
    <br>

    <div class="row" style="background-color: lightblue; border: solid; font-weight: bold;">

        <div class="col-md-12">

            <h3 style="font-weight: bold;">Contact Us!</h3>
    <form>
        <div class="form-group">
            Name: <input type="text" name="name">
        </div>
        <div class="form-group">
            Email: <input type="text" name="email">
        </div>
        <div class="form-group">
            Subject:
            <select name="dropdown">
                <option value="#" selected>Advice From Former Missionaries</option>
                <option value="#">Contacting Your Future Mission</option>
                <option value="#">Preparing For a Mission</option>
            </select>
        </div>
        <div class="form-group">
            Message: @Html.TextArea("Message")
        </div>
        <div class="form-group">
            <input type="submit" onclick="myFunction()" value="Submit">
        </div>
    </form>
  
            </div>

    </div>

</body>

</html>