@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Webpage</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale-1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>

<div class="jumbotron" style="background-color: lightblue; border: solid;">
    <div class="bs-calltoaction bs-calltoaction-default" style="background-color: lightblue">
      
        <div class="row">
          
            <div class="col-md-8 cta-contents" >
               
                <div class="cta-desc" >
                    <h1 class="cta-title">Missionary Tutor.Net</h1>
                    <p>"Proclaiming the gospel to all mankind is a fundamental part of the mission of the Church." - Elder M. Russell Ballard</p>
                    <ul>
                    <li>Welcome to Missionary Tutor.Net!</li>
                    <li>Learn More about LDS Missions!</li>
                    <li>Ask direct questions to returned missionaries!</li>
                    <li>Learn how to survive and thrive on an LDS mission!</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 cta-button" style="top: -15px; " >
                <br>
                <a href="http://localhost:49855/Home/Missions?Length=4" class="btn btn-lg btn-block btn-default" style="font-weight: bold; border: solid; top: 10px;">Go to Missions!</a>
                <br>
                 <iframe width="325" height="250" src="https://www.youtube.com/embed/PpEhE_scrs4" frameborder="0" allowfullscreen style="border: solid;"> </iframe>
            
            </div>
        </div>
    </div>
</div>

<div class="row" style="background-color: lightgray; border: solid;">
    <div class="col-md-6">
        <img src="http://mormonbeliefs.org/files/2008/06/mormon-missionaries-elders.jpg" style="height: 200px; padding: 10px; width: 312px;">
        <img src="http://cdn.deseretnews.com/images/article/contentimage/1714268/1714268.jpg" style="height: 200px; padding: 10px;">
    </div>
    <div class="col-md-6" style="border-left: solid;">

        <h2>Missions </h2>
        <p>FAQs about different LDS missions across the globe</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866" style="border: solid; font-weight: bold;">About Us &raquo;</a></p>

        <h2>About Us</h2>
        <p>More infomation about Missionary Tutor and our goal</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866" style="border: solid; font-weight: bold;">About Us &raquo;</a></p>
    
        <h2>Contact Us </h2>
        <p>Click here if you have any questions or would like contact with us directly</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867" style="border: solid; font-weight: bold;">Contact &raquo;</a></p>
    </div>
</div>

    </body>
</html>